# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage
/playwright-report
/test-results

# next.js
/.next/
/out/

# production
/build

# local environment files
.env*
!.env.example

# debug
npm-debug.log*
pnpm-debug.log*

# operating systems and editors
.DS_Store
Thumbs.db
*.swp

# typescript
*.tsbuildinfo
next-env.d.ts

# generated database client
/src/generated/prisma/
